{% if item.tier == "love" %}
  {% set color_class = "pico-background-pink-600" %}
{% elif item.tier == "like" %}
  {% set color_class = "pico-background-green-600" %}
{% else %}
  {% set color_class = "" %}
{% endif %}

<a href="{{ item.item_url }}" role="button" class="{{ color_class }}" aria-label="Read article: {{ item.title }}">
  {% if featured == "true" %}
    <article class="featured" role="article" aria-labelledby="article-title-{{ item.title | slugify }}">
      <span class="author" aria-label="Author">
        {{ item.author }}
      </span>
      |
      <span class="date" aria-label="Publication date">
        {{ item.pub_date | date(timezone="Europe/Berlin") }}
      </span>
      <h2 id="article-title-{{ item.title | slugify }}">
        {{ item.title }}
      </h2>
  {% else %}
    <article class="article" role="article" aria-labelledby="article-title-{{ item.title | slugify }}">
      <span class="author" aria-label="Author">
        {{ item.author }}
      </span>
      |
      <span class="date" aria-label="Publication date">
        {{ item.pub_date | date(timezone="Europe/Berlin") }}
      </span>
      <h3 id="article-title-{{ item.title | slugify }}">
        {{ item.title }}
      </h3>
  {% endif %}
    <p>
      {{ item.safe_description | truncate(length=150) }}
    </p>
  </article>
</a>
