<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Feed.me</title>
  </head>

  <header class="header" role="banner">
    <div class="container">
      <h1 class="logo">Feed.me</h1>
      <nav class="nav" role="navigation" aria-label="Main navigation">
        <ul role="list">
          <!-- TODO: Loop over some categories -->
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/loved">Loved</a>
          </li>
          <li>
            <a href="/all">All</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <main class="main-content container" role="main" aria-label="Main content">
      {% block content %} {% endblock %}
    </main>
  </body>
  <footer class="footer" role="contentinfo">
    <div class="container">
      <nav aria-label="Footer navigation">
        <ul role="list">
          <li>
            <a href="https://github.com/wonderfulspam/feed.me">Source code</a>
            | Last updated: {{ now() | date(timezone="Europe/Berlin",
            format="%Y-%m-%d %H:%M") }}
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</html>
