{% extends "base.html" %}

{% block content %}
  {% set loved_data = load_data(path="content/data/lovedData.json") %}
  {% set liked_data = load_data(path="content/data/likedData.json") %}
  <!-- Featured Articles -->
  {% for i in [0, 1, 2, 3,] %}
    <section class="featured-articles">
      {% set offset = 2 * i %}
      {% set final = offset + 2 %}
      {% for item in loved_data | slice(start=offset, end=final) %}
        {% set featured = "true" %}
        {% include "partials/article.html" %}
      {% endfor %}
    </section>
    <!-- Secondary Articles Grid -->
    <section class="secondary-articles">
      {% set offset = 8 * i %}
      {% set final = offset + 8 %}
      {% for item in liked_data | slice(start=offset, end=final) %}
        {% set featured = "false" %}
        {% include "partials/article.html" %}
      {% endfor %}
    </section>
  {% endfor %}
{% endblock content %}
