{% extends "base.html" %}

{% block content %}

{% set item_data = load_data(path="content/data/itemData.json") %}
<!-- Featured Articles -->
<section class="featured-articles">
{% for item in item_data %}
{% if loop.index0 == 2 %}{% break %}{% endif %}
{% set featured = "true" %}
{% include "partials/article.html" %}
{% endfor %}
</section>
<!-- Secondary Articles Grid -->
<section class="secondary-articles">
{% for item in item_data %}
{% if loop.index0 < 2 %}{% continue %}{% endif %}
{% if loop.index0 == 10 %}{% break %}{% endif %}

{% set featured = "false" %}
{% include "partials/article.html" %}
{% endfor %}
</section>
{% endblock content %}
